@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  font-family: Arial,Helvetica,'Open Sans',sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: url("../img/bullet_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
/*Global*/
p{
  font-size: 100%;
  line-height: 150%;
  text-indent: 2%;
  text-align: justify;
}
h1{
  text-align: center;
}
img{
  max-width: 100%;
  height: auto;
  width:auto;
  margin-bottom: -4px;
}
ul {
 margin: 0;
 padding: 0;
}
.container{
   width: 80%;
   margin: auto;
   overflow: hidden;
}
/*Header*/
header{
  background-color: #1a0000;
  width:100%;
  height: 110px;
  position: fixed;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
header #header-all{
  max-width: 1200px;
  margin: 0 auto;
}
header #logo{
  margin: 30px;
  float: left;
  width:180px;
  height: 70px;
  background: url(../img/logoicon.jpg) no-repeat center;
}
header nav{
  float: right;
  padding: 45px 20px 0 0;
}
header ul{
  list-style-type: none;
}
header nav ul li{
  font-size: 130%;
  display: inline-block;
  padding: 10px;
  float: left;
  font-family: 'Alegreya Sans',sans-serif;
}
header nav ul li a {
  color:#ffffff;
  text-decoration: none;
}
header nav ul li a:hover{
  color: 	#66ffcc;
}
.current{
  color: 	#ff99cc;
}
/*Background*/
#background_all{
  min-height:500px;
  width:100%;
  padding-top: 110px;
}
/*Columns*/
#passengertrains{
  margin-top: 20px;
  padding-bottom: 10px;
  }
.dark{
    padding-right: none;
    background: #3d3d5c;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.6;
   filter: alpha(opacity=60);
   }
#maintenancetrains{
   margin-top: 20px;
   padding-bottom: 10px;
}
.dark1{
   padding-right: none;
   background: #3d3d5c;
   color: #ffffff;
   margin-top: 10px;
   margin-bottom: 10px;
   opacity: 0.6;
  filter: alpha(opacity=60);
}
#maglevtrains{
   margin-top: 20px;
   padding-bottom: 10px;
}
.dark2{
   padding-right: none;
   background: #3d3d5c;
   color: #ffffff;
   margin-top: 10px;
   margin-bottom: 10px;
   opacity: 0.6;
  filter: alpha(opacity=60);
}
/*Subscription*/
#subscription{
  color: #ffffff;
  background: #1a0000;
  width:940px;
  margin: 0 auto;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#subscription h1{
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
#subscription form{
  float: right;
  margin-top:25px;
  margin-right: 15px;
}
#subscription input[type="email"]{
  padding:4px;
  height: 15px;
  width: 300px;
}
.button{
  height: 30px;
  background:#004d66;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
/*main-art*/
#main-art{
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: 65%;
}
.dark3{
  padding-right: none;
  padding-top: 10px;
  background:#3d3d5c;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
/*sideimg*/
aside#pic{
  float: right;
  margin-right: 10px;
  width: 30%;
  margin-top: 20px;
}
/*footer*/
footer{
  background-color:#1a0000;
  width: 100%;
  opacity: 0.6;
 filter: alpha(opacity=60);
 }
.social{
  text-align: center;
  list-style-type: none;
 }
.social li{
  display: inline;
 }
 .social i{
  font-size: 220%;
  margin: 1%;
  padding: 3% 3% 3% 2%;
  color: #FF7F50;
  }
.social i:hover{
  color:#cc0000;
  }
